.md-typeset table:not([class]) {
  display: table;
  width: 100%;
}

.md-typeset table:not([class]) th {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
}

.md-typeset table:not([class]) tr:nth-child(even) {
  background-color: var(--md-code-bg-color);
}

.md-typeset table:not([class]) tr:hover {
  background-color: var(--md-accent-fg-color--transparent);
}